.container {
  max-width: 600px;
  width: 100%;
  margin: auto;
  background: #eee;
}

.container .sidebar,
.container .main {
  padding: 10px;
}

.container .main {
  margin-left: 220px;
  min-height: 100vh;
  border-left: 2px solid #333;
}

.container .sidebar {
  width: 200px;
  float: left;
}

.container.right-nav .main {
  margin: 0 220px 0 0;
  border: none;
  border-right: 2px solid #333;
}

.container.right-nav .sidebar {
  float: right;
}
