body h1 {
  color: #c46;
}

body .btn {
  padding: 2px 10px;
  border: 1px solid #c46;
  border-radius: 2px;
}

body .btn.btn-primary {
  color: white;
  background-color: #c46;
}

body .btn.btn-secondary {
  background-color: #edbcc8;
  color: black;
}

body .btn:disabled {
  opacity: 0.5;
}
